/* --- Style --- */
/* --- PA Style Guide --- */
/*------------------------------------*    # PA Primary Colors
\*------------------------------------*/
/*------------------------------------*    # PA Secondary Colors
\*------------------------------------*/
/* --- Tints --- */
/* --- PA --- */
/* --- PA Style Guide --- */
/* --- Reunion --- */
/*------------------------------------*    # Reunion Colors
\*------------------------------------*/
/* --- Tints --- */
/*------------------------------------*    # Reunion Layout
\*------------------------------------*/
/* Mobile-specific Styles */
@media only screen and (max-width: 660px) {
  /* line 3, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
  table[class=w0], td[class=w0] {
    width: 0 !important; }
  /* line 6, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
  table[class=w10], td[class=w10], img[class=w10] {
    width: 10px !important; }
  /*table[class=w15], td[class=w15], img[class=w15] {
        width:5px !important;
    }
    table[class=w30], td[class=w30], img[class=w30] {
        width:10px !important;
    }
    table[class=w60], td[class=w60], img[class=w60] {
        width:10px !important;
    }

    table[class=w125], td[class=w125], img[class=w125] {
        width:80px !important;
    }
    table[class=w100], td[class=w100], img[class=w100] {
        width:50px !important;
    }
    table[class=w130], td[class=w130], img[class=w130] {
        width:55px !important;
    }
    table[class=w140], td[class=w140], img[class=w140] { width:90px !important; }
    table[class=w140-story], td[class=w140-story], img[class=w140-story] { width:90px !important;height:auto !important; }
    table[class=w160], td[class=w160], img[class=w160] {
        width:180px !important;
    }
    table[class=w170], td[class=w170], img[class=w170] {
        width:100px !important;
    }
    table[class=w180], td[class=w180], img[class=w180] {
        width:80px !important;
    }
    table[class=w195], td[class=w195], img[class=w195] {
        width:80px !important;
    }
    table[class=w220], td[class=w220], img[class=w220] {
        width:80px !important;
    }
    table[class=w240], td[class=w240], img[class=w240] {
        width:180px !important;
    }
    table[class=w255], td[class=w255], img[class=w255] {
        width:185px !important;
    }
    table[class=w275], td[class=w275], img[class=w275] {
        width:135px !important;
    }
    table[class=w280], td[class=w280], img[class=w280] {
        width:135px !important;
    }
    table[class=w300], td[class=w300], img[class=w300] {
        width:140px !important;
    }
    table[class=w325], td[class=w325], img[class=w325] {
        width:95px !important;
    }
    table[class=w360], td[class=w360], img[class=w360] {
        width:140px !important;
    }
    table[class=w410], td[class=w410], img[class=w410] {
        width:180px !important;
    }
    table[class=w470], td[class=w470], img[class=w470] {
        width:200px !important;
    }
    table[class=w480], td[class=w480], img[class=w480] {
        width:220px !important;
    }
    table[class=w580], td[class=w580], img[class=w580] {
        width:300px !important;
    }
    table[class=w640], td[class=w640], img[class=w640],
    table[class=w640o], td[class=w640o], img[class=w640o] {
        width:320px !important;
    }*/
  /*table[class=responsive], td[class=responsive], img[class=responsive] {
        width:100% !important;
    }
    table[class=responsive-padding], td[class=responsive-padding], img[class=responsive-padding] {
        width:5% !important;
    }
    table[class=responsive-content], td[class=responsive-content], img[class=responsive-content] {
        width:90% !important;
    }*/
  /* line 91, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
  table[class*=hide], td[class*=hide], img[class*=hide], p[class*=hide], span[class*=hide] {
    display: none !important; }
  /* line 94, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
  table[class*=mobile], td[class*=mobile], img[class*=mobile], p[class*=mobile], span[class*=mobile] {
    display: block !important;
    width: 100% !important; }
  /* line 95, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
  table[class=h0], td[class=h0] {
    height: 0 !important; }
  /*table[class=h10], td[class=h10] {
        height: 10px !important;
        width:320px !important;
    }*/
  /* line 102, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
  p[class=footer-content-left] {
    text-align: center !important; }
  /* line 105, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
  #headline p {
    font-size: 30px !important; }
  /* line 108, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
  .article-content {
    -webkit-text-size-adjust: 100% !important;
    -ms-text-size-adjust: 100% !important; }
  /* line 112, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
  .header-content, .footer-content {
    -webkit-text-size-adjust: 100% !important;
    -ms-text-size-adjust: 100% !important; }
  /* line 116, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
  img {
    height: auto;
    line-height: 100%;
    Margin: 0 auto; } }

/* Client-specific Styles */
/* line 123, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
#outlook a {
  padding: 0; }

/* Force Outlook to provide a "view in browser" button. */
/* line 126, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
body {
  width: 100% !important;
  min-width: 100%; }

/* line 130, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
.ReadMsgBody {
  width: 100%; }

/* line 133, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
.ExternalClass {
  width: 100%;
  display: block !important; }

/* Force Hotmail to display emails at full width */
/* Reset Styles */
/* Add 100px so mobile switch bar doesn't cover street address. */
/* line 139, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
body {
  background-color: #ffffff;
  margin: 0;
  padding: 0; }

/* line 144, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
img {
  outline: none;
  text-decoration: none;
  display: block; }

/* line 149, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
br, strong br, b br, em br, i br {
  line-height: 100%; }

/* line 152, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
h1, h2, h3, h4, h5, h6 {
  line-height: 100% !important;
  -webkit-font-smoothing: antialiased; }

/* line 156, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #0058a0;
  font-weight: bold;
  text-decoration: underline; }

/* line 161, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
h1 a:active, h2 a:active, h3 a:active, h4 a:active, h5 a:active, h6 a:active {
  color: red !important; }

/* Preferably not the same color as the normal header link color.  There is limited support for psuedo classes in email clients, this was added just for good measure. */
/* line 165, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
  color: #0058a0;
  font-weight: bold;
  text-decoration: underline; }

/* Preferably not the same color as the normal header link color. There is limited support for psuedo classes in email clients, this was added just for good measure. */
/* line 171, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
table td, table tr {
  border-collapse: collapse; }

/* line 174, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
.yshortcuts, .yshortcuts a, .yshortcuts a:link, .yshortcuts a:visited, .yshortcuts a:hover, .yshortcuts a span {
  color: black;
  text-decoration: none !important;
  border-bottom: none !important;
  background: none !important; }

/* Body text color for the New Yahoo.  This example sets the font of Yahoo's Shortcuts to black. */
/* This most probably won't work in all email clients. Don't include code blocks in email. */
/* line 181, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
code {
  white-space: normal;
  word-break: break-all; }

/* line 185, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
#background-table {
  background-color: #ffffff; }

/* line 189, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
.mobile-block {
  display: inline; }

/* Webkit Elements */
/* Fonts and Content */
/* line 213, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
body, td {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; }

/* line 216, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
#header, #footer {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none; }

/* --- Helpers --- */
/* Prevent Webkit and Windows Mobile platforms from changing default font sizes on header and footer. */
/* --- Header --- */
/* line 227, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
.preview__text {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 5px;
  color: #0058a0;
  height: 6px; }

/* line 233, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
.preview__text p {
  margin: 0 !important;
  font-size: 5px; }

/* line 237, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
.webversion__content a {
  font-weight: bold;
  color: #dee8f4;
  text-decoration: underline; }

/* line 242, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
.header__branding {
  font-family: Georgia, Times, serif;
  font-size: 24px;
  color: #ffffff;
  text-transform: uppercase;
  word-break: break-word;
  word-wrap: break-word;
  padding: 0;
  Margin-right: 10px;
  Margin-left: 10px; }

/* line 253, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
.header__office {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: italic;
  color: #ffffff;
  word-break: break-word;
  word-wrap: break-word;
  padding: 0;
  Margin-right: 10px;
  Margin-left: 10px; }

/* line 277, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
.title-purpose {
  background: #fdb913;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

/* line 283, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
.article-purpose {
  font-size: 16px;
  line-height: 130%;
  color: #ffffff;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 0; }

/* line 291, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
.article-purpose a {
  color: #ffffff;
  text-decoration: underline; }

/* line 295, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
.newsletter-title {
  font-size: 54px;
  text-align: center; }

/* line 299, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
.section-title {
  font-size: 21px;
  line-height: 130%;
  color: #fdb913 !important;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 0;
  font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif; }

/* line 308, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
.section-title a {
  font-weight: bold;
  color: #2a5b7d !important;
  text-decoration: underline; }

/* line 313, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
h1.section-title {
  line-height: 100% !important; }

/* --- END Header --- */
/* --- Article --- */
/* line 318, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
.article-title {
  font-size: 21px;
  line-height: 130%;
  color: #fdb913 !important;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 8px; }

/* line 326, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
.article-title a {
  color: #0058a0;
  font-weight: bold;
  text-decoration: underline; }

/* line 332, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
.article-title.with-meta {
  margin-bottom: 0; }

/* line 336, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
#callout--title h1.article-title {
  font-size: 60px;
  color: #ffffff !important;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 5px; }

/* line 343, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
#callout--title h1.article-title a {
  color: #ffffff !important; }

/* line 348, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
#title--center h2.article-title {
  font-size: 28px;
  color: #4982bc !important;
  text-transform: uppercase;
  text-align: center; }

/* line 362, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
.article-content {
  font-size: 15px;
  line-height: 130%;
  color: #333333;
  margin-top: 0px;
  margin-bottom: 15px; }

/* line 369, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
.table-row .article-content {
  margin-bottom: 0; }

/* line 372, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
.article-content a {
  color: #0058a0;
  font-weight: bold;
  text-decoration: underline; }

/* line 377, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
.article-content a.white {
  color: #ffffff;
  font-weight: normal;
  text-decoration: underline; }

/* line 382, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
.article-content img {
  max-width: 100%; }

/* line 385, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
.article-content ol, .article-content ul {
  margin-top: 0px;
  margin-bottom: 15px;
  margin-left: 4px;
  padding: 0;
  padding-left: 19px; }

/* line 392, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
.article-content li {
  font-size: 15px;
  line-height: 130%;
  color: #333333;
  margin-bottom: 9px; }

/* line 398, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
.article-content li a {
  color: #0058a0;
  text-decoration: underline; }

/* line 403, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
.article-content p {
  margin-top: 0;
  margin-bottom: 15px; }

/* line 407, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
.table-row .article-content p {
  margin-bottom: 5px; }

/* line 412, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
#callout--title .article-content {
  font-size: 28px;
  color: #ffffff !important;
  margin-bottom: 0; }

/* line 417, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
#callout--title .article-content p {
  margin-bottom: 0; }

/* line 421, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
#callout--title .article-content a,
#callout--content .article-content a {
  color: #ffffff !important; }

/* line 424, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
#callout--content .article-content {
  color: #ffffff !important;
  margin-bottom: 0; }

/* line 429, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
#callout .article-content {
  font-size: 30px;
  color: #4982bc !important; }

/* line 433, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
#callout .article-content a {
  color: #4982bc !important; }

/* --- END Article --- */
/* --- Button --- */
/* line 461, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
.pb-button__mso {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

/* line 466, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
.pb-button__style {
  background-color: #0058a0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-top: 1px solid #0058a0;
  border-right: 1px solid #0058a0;
  border-bottom: 2px solid #003c7f;
  border-left: 1px solid #0058a0;
  color: #ffffff;
  display: inline-block;
  font-size: 18px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: normal;
  padding: 12px 18px;
  text-shadow: 0 1px 2px #003c7f; }

/* line 484, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
.pb-button a {
  font-size: 18px;
  color: #ffffff !important;
  text-decoration: none; }

/* --- END Button --- */
/* --- Sidebar --- */
/* line 493, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
.sidebar-title {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 140%;
  color: #333333;
  margin-top: 0px;
  margin-bottom: 0;
  text-transform: uppercase; }

/* line 503, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
.sidebar-content {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 140%;
  color: #333333;
  margin-top: 0px;
  margin-bottom: 0; }

/* line 512, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
.toc {
  list-style: none;
  padding-left: 0.5em;
  text-align: left; }

/* line 517, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
.toc a {
  color: #0058a0;
  font-weight: bold;
  text-decoration: underline; }

/* line 523, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
.article-toc {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 140%;
  color: #333333;
  text-align: left; }

/* line 530, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
.article-toc a {
  font-weight: bold;
  color: #0058a0;
  text-decoration: underline; }

/* --- END Sidebar --- */
/* --- Footer --- */
/* line 538, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
#footer {
  color: #333333; }

/* line 541, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
#footer a {
  color: #0058a0;
  text-decoration: underline; }

/* line 545, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
#footer a.link {
  font-weight: bold; }

/* line 548, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
.footer-content {
  font-family: Georgia, Times, serif;
  font-size: 12px;
  line-height: 130%;
  color: #333333;
  margin-top: 0px;
  margin-bottom: 15px; }

/* line 556, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
.footer-content--pref {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 130%;
  color: #333333;
  margin-top: 0px;
  margin-bottom: 15px; }

/* line 564, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
.footer-content--pref a {
  font-weight: bold; }

/* line 567, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
#permission-reminder {
  white-space: normal; }

/* line 570, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
#street-address {
  font-family: Georgia, Times, serif;
  color: #333333;
  white-space: normal; }

/* line 575, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
#street-address a {
  color: #0058a0;
  text-decoration: underline;
  font-weight: bold; }

/* line 581, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
.whitelist-message,
.webversion__content--footer {
  font-size: 12px;
  color: #333333;
  margin-top: 0px;
  margin-bottom: 15px; }

/* line 588, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
.whitelist-message a,
.webversion__content--footer a {
  font-weight: bold;
  color: #0058a0;
  text-decoration: underline; }

/* --- END Footer --- */
@media only screen and (min-width: 660px) {
  /* line 596, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
  .pb-button {
    max-width: 50%; } }

@media only screen and (max-width: 660px) {
  /* line 601, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
  tr[id=webversion] {
    display: none !important; }
  /* line 604, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
  table[class=auto], td[class=auto], img[class=auto] {
    width: auto !important; }
  /* line 609, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
  table[class=responsive], td[class=responsive], img[class=responsive],
  table[class=table-row], td[class=table-row], img[class=table-row] {
    width: 100% !important; }
  /* line 612, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
  table[class=responsive-signature], td[class=responsive-signature], img[class=responsive-signature] {
    width: 100% !important;
    height: auto !important; }
  /* line 616, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
  table[class=table-col], td[class=table-col], img[class=table-col] {
    width: 20% !important; }
  /* line 621, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
  table[class=table-row-1], td[class=table-row-1], img[class=table-row-1],
  table[class=table-row-2], td[class=table-row-2], img[class=table-row-2] {
    width: 50% !important; }
  /* line 624, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
  table[class=table-col1], td[class=table-col1], img[class=table-col1] {
    width: 47.5% !important; }
  /* line 627, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
  table[class=r70], td[class=r70], img[class=r70] {
    width: 70% !important; }
  /* line 630, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
  table[class=r30], td[class=r30], img[class=r30] {
    width: 30% !important; }
  /* line 633, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
  table[class=branding__office], td[class=branding__office], img[class=branding__office] {
    width: 75% !important; }
  /* line 636, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
  table[class=branding__logo], td[class=branding__logo], img[class=branding__logo] {
    width: 25% !important; }
  /* line 640, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
  table[class=responsive-padding], td[class=responsive-padding], img[class=responsive-padding] {
    width: 2.5% !important; }
  /* line 643, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
  table[class=responsive-content-padding], td[class=responsive-content-padding], img[class=responsive-content-padding] {
    width: 97.5% !important; }
  /* line 646, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
  table[class=responsive-content], td[class=responsive-content], img[class=responsive-content] {
    width: 95% !important; }
  /* line 650, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
  table[class=responsive-callout--padding], td[class=responsive-callout--padding], img[class=responsive-callout--padding],
  table[class=floatimg-padding], td[class=floatimg-padding], img[class=floatimg-padding] {
    width: 5% !important; }
  /* line 653, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
  table[class=responsive-callout--content], td[class=responsive-callout--content], img[class=responsive-callout--content] {
    width: 90% !important; }
  /* line 657, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
  table[class=threecol], td[class=threecol], img[class=threecol],
  table[class=floatimg], td[class=floatimg], img[class=floatimg] {
    width: 33% !important;
    height: auto !important; }
  /* line 661, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
  table[class=floatimg-content], td[class=floatimg-content], img[class=floatimg-content] {
    width: 95% !important;
    height: auto !important; }
  /* line 665, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
  table[class=toc-content], td[class=toc-content], img[class=toc-content] {
    width: 95% !important; }
  /* line 668, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
  td[class=toc-padding] {
    width: 2.5% !important; }
  /* line 671, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
  div[id=date] {
    font-weight: bold !important; } }

@media only screen and (max-width: 568px) {
  /* line 676, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
  span[class=mobile-block] {
    display: block !important; }
  /* line 679, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
  div[class=newsletter-title] {
    font-size: 36px; }
  /* line 682, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
  table[class=branding__office], td[class=branding__office], img[class=branding__office] {
    width: 70% !important; }
  /* line 685, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
  table[class=branding__logo], td[class=branding__logo], img[class=branding__logo] {
    width: 30% !important; } }

@media only screen and (max-width: 480px) {
  /* line 693, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
  table[class=table-row] table[class=table-row-1],
  table[class=table-row] table[class=table-row-2],
  table[class=table-row] table[class=table-col2],
  table[class=responsive-phone], td[class=responsive-phone], img[class=responsive-phone] {
    width: 100% !important; }
  /* line 696, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
  table[class=w140], td[class=w140], img[class=w140] {
    width: 90px !important; }
  /* line 697, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
  table[class=w140-story], td[class=w140-story], img[class=w140-story] {
    width: 90px !important;
    height: auto !important; }
  /* line 698, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
  table[class=w170], td[class=w170], img[class=w170] {
    width: 100px !important; }
  /* line 701, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
  table[class=w0-phone], td[class=w0-phone] {
    width: 0 !important; }
  /* line 704, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
  table[id=threecol] img[class=responsive] {
    width: 100% !important;
    height: auto !important; }
  /* line 708, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
  table[class=branding__office], td[class=branding__office], img[class=branding__office] {
    width: 65% !important; }
  /* line 711, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
  table[class=branding__logo], td[class=branding__logo], img[class=branding__logo] {
    width: 35% !important; } }

@media only screen and (max-width: 414px) {
  /* line 716, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
  #callout--title h1.article-title {
    font-size: 45px !important; }
  /* line 719, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
  #callout--title .article-content {
    font-size: 21px !important; }
  /* line 722, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
  div[class=header__branding] {
    font-size: 20px !important; } }

@media only screen and (max-width: 360px) {
  /* line 727, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
  table[class=branding__office], td[class=branding__office], img[class=branding__office] {
    width: 62% !important; }
  /* line 730, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
  table[class=branding__logo], td[class=branding__logo], img[class=branding__logo] {
    width: 38% !important; } }

@media only screen and (max-width: 320px) {
  /* line 735, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
  table[class=branding__office], td[class=branding__office], img[class=branding__office] {
    width: 60% !important; }
  /* line 738, /Users/jkapaldo/GitHub/CM Templates/sass/partials/style--default.scss */
  table[class=branding__logo], td[class=branding__logo], img[class=branding__logo] {
    width: 40% !important; } }

/*# sourceMappingURL=style--reunion-master.css.map */