/* --- Style --- */
/* --- PA Style Guide --- */
/*------------------------------------*\
    # PA Primary Colors
\*------------------------------------*/
/*------------------------------------*\
    # PA Secondary Colors
\*------------------------------------*/
/* --- Tints --- */
/*------------------------------------*\
    # Strategic Plan Primary Colors
\*------------------------------------*/
/*------------------------------------*\
    # COLOR
\*------------------------------------*/
/*------------------------------------*\
    # FONT
\*------------------------------------*/
/*------------------------------------*\
    # FONT SIZE
\*------------------------------------*/
/* --- PA Style Guide --- */
/* --- lt mso 9 --- */
.title-purpose {
  background: #ffffff;
  border-top: 1px solid #003c7f;
  border-bottom: 1px solid #003c7f; }

.article-purpose {
  color: #003c7f; }

.article-purpose a {
  color: #003c7f;
  text-decoration: underline; }

.img__responsive {
  width: 168px;
  height: 93px;
  max-width: 168px; }
