/* --- Style --- */
/* --- PA Style Guide --- */
/* --- PA --- */
/* --- PA Style Guide --- */
/* --- lt mso 9 --- */
.title-purpose {
  background: white;
  border-top: 1px solid #91b7df;
  border-bottom: 1px solid #91b7df; }

.article-purpose {
  color: #01172c; }

.article-purpose a {
  color: #01172c;
  text-decoration: underline; }
