/* --- Style --- */
/* --- PA Style Guide --- */
/* --- PA --- */
/* --- PA Style Guide --- */
/* --- lt mso 9 --- */
.title-purpose {
  background: #ffffff;
  border-top: 1px solid #003c7f;
  border-bottom: 1px solid #003c7f; }

.article-purpose {
  color: #003c7f; }

.article-purpose a {
  color: #003c7f;
  text-decoration: underline; }
