/*------------------------------------*\
    # HELPER CLASSES
/*------------------------------------*/

.hide { 
    display:none !important;
}
.block { 
    display:block !important;
    width:100% !important;
}
.center {
    text-align: center;
    
    img {
        display: inline;
    }
}



/*------------------------------------*\
    # LAYOUT
/*------------------------------------*/

body {
    background:$white;
}
.wrapper {
//    background:$white;
}

.layout {
//    background:$white;
    display: table;
    Margin: 0 auto;
    max-width: 640px;
    width:100%;
    
    &--inner {
        display: table;
        Margin: 0 auto;
        max-width:610px;
        width:100%;
    }
}
.one-col {
    Float:none;
    min-width: 320px;
    width:100%;
    max-width: 100%;
    min-width:-webkit-calc(100%); /* < Android 5, < iOS 7 */
    min-width: calc(100%);
    width:-webkit-calc((480px - 100%) * 480); /* < Android 5, < iOS 7 */
    width:calc((480px - 100%) * 480); /* (Breakpoint - Max-Width) * Breakpoint */
    vertical-align: top;
}
.two-col {
    Float:left;
    min-width: 320px;
    width:50%;
    max-width: 100%;
    min-width:-webkit-calc(50%); /* < Android 5, < iOS 7 */
    min-width: calc(50%);
    width:-webkit-calc((480px - 100%) * 480); /* < Android 5, < iOS 7 */
    width:calc((480px - 100%) * 480); /* (Breakpoint - Max-Width) * Breakpoint */
    vertical-align: top;
}
.three-col {
    Float:left;
    min-width: 213px;
    width:33.333%;
    max-width: 100%;
    min-width:-webkit-calc(33.333%); /* < Android 5, < iOS 7 */
    min-width: calc(33.333%);
    width:-webkit-calc((480px - 100%) * 480); /* < Android 5, < iOS 7 */
    width:calc((480px - 100%) * 480); /* (Breakpoint - Max-Width) * Breakpoint */
    vertical-align: top;
}
.twothird-col {
    Float:left;
    min-width: 427px;
    width:66.666%;
    max-width: 100%;
    min-width:-webkit-calc(66.666%); /* < Android 5, < iOS 7 */
    min-width: calc(66.666%);
    width:-webkit-calc((480px - 100%) * 480); /* < Android 5, < iOS 7 */
    width:calc((480px - 100%) * 480); /* (Breakpoint - Max-Width) * Breakpoint */
    vertical-align: top;
}
.four-col {
    Float:left;
    min-width: 160px;
    width:25%;
    max-width: 100%;
    min-width:-webkit-calc(25%); /* < Android 5, < iOS 7 */
    min-width: calc(25%);
    width:-webkit-calc((480px - 100%) * 480); /* < Android 5, < iOS 7 */
    width:calc((480px - 100%) * 480); /* (Breakpoint - Max-Width) * Breakpoint */
    vertical-align: top;
}
.auto-col {
    display: inline-block;
    min-width: inherit;
    width:inherit;
    max-width: 100%;
    min-width:-webkit-calc(auto); /* < Android 5, < iOS 7 */
    min-width: calc(auto);
    width:-webkit-calc((480px - inherit) * 480); /* < Android 5, < iOS 7 */
    width:calc((480px - inherit) * 480); /* (Breakpoint - Max-Width) * Breakpoint */
    vertical-align: top;
}
@media screen and (min-width:620px) {
    
    .threequarter-col {
        Float:left;
        min-width: 320px;
        width:75%;
        max-width: 100%;
        min-width:-webkit-calc(75%); /* < Android 5, < iOS 7 */
        min-width: calc(75%);
        width:-webkit-calc((480px - 100%) * 480); /* < Android 5, < iOS 7 */
        width:calc((480px - 100%) * 480); /* (Breakpoint - Max-Width) * Breakpoint */
        vertical-align: top;
    }
}

.column {
//    background: $white;
    display: table-cell;
}
[owa] .layout {
    width: 640px !important;
    &--inner {
        width:610px !important;
    }
}
[owa] .column {
    display: table-cell;
}
[owa] .one-col {
    width:640px !important;
    vertical-align: top;
}
[owa] .two-col {
    width:320px !important;
    vertical-align: top;
}
[owa] .three-col {
    width:213px !important;
    vertical-align: top;
}
[owa] .twothird-col {
    width:426px !important;
    vertical-align: top;
}
[owa] .four-col {
    width:160px !important;
    vertical-align: top;
}
[owa] .threequarter-col {
    width:480px !important;
    vertical-align: top;
}

@media screen and (min-width:180px) {
    .layout,
    .layout--inner {
        width:100% !important;
    }
}
@media screen and (min-width:480px) {
    .column {
        display: table-cell;
    }
    .one-col {
        width:100%;
    }
    .two-col {
        width:50%;
    }
    .three-col {
        width:33.333%;
    }
    .twothird-col {
        width:66.666%;
    }
    .four-col {
        width:25%;
    }
    .threequarter-col {
        width:75%;
    }
}
@media screen and (min-width:630px) {
    .layout {
        width:640px !important;
        
        &--inner {
            width:610px !important;
        }
    }
    .one-col {
        width:640px !important;
    }
    .two-col {
        width:320px !important;
    }
    .three-col {
        width:213px !important;
    }
    .twothird-col {
        width:426px !important;
    }
    .four-col {
        width:160px !important;
    }
    .threequarter-col {
        width:480px !important;
    }
}
.spacing {
    Margin:15px 0;
    
    &--horz {
        padding-right:15px;
        padding-left: 15px;
    }
    &--horz__left {
        padding-left: 15px;
    }
    &--bottom {
        Margin:0 0 15px 0 !important;
    }
    &--no-top {
        Margin-top:0 !important;
    }
    &--no-bottom {
        Margin-bottom:0 !important;
    }
    
    #header & {
        Margin: 0 0 30px 0;
    }
    .img--full & {
        Margin: 0;
    }
    
    .headline & {
        Margin:8px 0 0 0;
    }
    .one-col--text &,
    .two-col &,
    .three-col &,
    .twothird-col & {
        Margin:15px;
    }
    .img-col--left &,
    .img-col--middle &,
    .img-col--right & {
        Margin:15px 0;
    }
    .img-col--left & {
        padding-right:1px;
    }
    .img-col--middle & {
        padding-right:1px;
        padding-left:1px;
    }
    .img-col--right & {
        padding-left:1px;
    }
    @media screen and (max-width:480px) {
        .img-col--left & {
            padding-right:0 !important;
        }
        .img-col--middle & {
            padding-right:0 !important;
            padding-left:0 !important;
        }
        .img-col--right & {
            padding-left:0 !important;
        }
    }
    
    .no-bottom & {
        Margin-bottom:0;
    }
    .no-top & {
        Margin-top:0;
    }
    
    .brand__spacing & {
        Margin:10px 0;
    }
    
}


[owa] .img-col--left .spacing {
    padding-right:1px !important;
}
[owa] .img-col--middle .spacing {
    padding-right:1px !important;
    padding-left:1px !important;
}
[owa] .img-col--right .spacing {
    padding-left:1px !important;
}




/*------------------------------------*\
    # IMAGE
/*------------------------------------*/

.responsive__img {
    display: block;
    width:100%;
    height: auto;
    
    @media screen and (min-width:480px) {
        display: inherit !important;
        width: 100% !important;
        height: auto !important;
    }
    
    @media screen and (min-width:630px) {
        &--full {
            width:640px !important;
        }
    }
}





/*------------------------------------*\
    # PREVIEW TEXT
/*------------------------------------*/

.preview__content {
    color: $white !important;
    p {
        color: $white !important;
        font-family: $san-serif;
        font-size: 1px !important;
        height: 0px !important;
        line-height: 1px !important;
        max-height:0px;
        max-width:0px;
        mso-hide:all;
        opacity:0;
        overflow:hidden;
        text-align: center;
        Margin-top:0 !important;
        Margin-bottom: 0 !important;
    }
    
}




/*------------------------------------*\
    # BRAND HEADER
/*------------------------------------*/

.brand__head {
    color:$white !important;
    width:160px;
    
    @media screen and (max-width:520px) {
        width:147px !important;
    }
}
.brand__img {
    Margin:0 auto !important; // TEMP overwrite global img style
    
    @media screen and (max-width:520px) {
        width:100px !important;
        height:auto !important;
    }
}
.brand__txt {
    color: $white !important;
    font-family: $san-serif;
    font-size:$small-font-size;
    font-style: oblique;
    vertical-align: middle;
}




/*------------------------------------*\
    # CONTENT
/*------------------------------------*/

.headline-title {
    color: $white !important;
    font-family: $san-serif;
    font-size: $large-font-size;
    font-weight:normal;
    line-height:130%;
    
    Margin-top:0px;
    Margin-bottom:0px;
    
    p {
        Margin-bottom:8px !important;
    }
    a {
        color: $white !important;
        text-decoration: underline;
    }
    
//    &--grey {
//        color: $pa-blue !important;
//        font-family: $sans-serif;
//        font-size: $large-font-size;
//        font-weight:normal;
//        line-height:130%;
//
//        Margin-top:0px;
//        Margin-bottom:0px;
//
//        p {
//            Margin-bottom:8px !important;
//        }
//        a {
//            color: $pa-blue !important;
//            text-decoration: underline;
//        }
//    }
//    &--story {
//        color: $pa-blue !important;
//        font-family: $sans-serif;
//        font-size: $large-font-size;
//        font-weight:normal;
//        line-height:130%;
//
//        Margin-top:0px;
//        Margin-bottom:0px;
//
//        p {
//            Margin-bottom:8px !important;
//        }
//        a {
//            color: $pa-blue !important;
//            text-decoration: underline;
//        }
//    }
}

.title {
    font-family: $san-serif;
    font-weight:normal;
    line-height:130%;
    Margin:0;
    
    &--xxlarge {
        font-size: $xxlarge-font-size;
    }
    &--xlarge {
        font-size: $xlarge-font-size;
    }
    &--large {
        font-size: $large-font-size;
    }
    
}



//.article-content {
//    font-family: $sans-serif;
//    font-size: $base-font-size;
//    line-height: 140%;
//    color: $dkgrey !important;
//    Margin-top: 0px;
//    Margin-bottom: 0px;
//    padding:0;
//    
//    li { font-size: 14px; }
//    
//    &--small {
//        font-family: $sans-serif;
//        font-size: $small-font-size;
//        line-height: 140%;
//        color: $dkgrey !important;
//        Margin-top: 0px;
//        Margin-bottom: 0;
//        
////        a { 
////            color: $pa-blue !important;
////            font-weight:bold;
////            text-decoration:underline;
////        }
//        
//        li { font-size: $small-font-size; }
//    }
//    &--caption {
//        border-bottom:1px solid $ltgrey;
//        font-family: $sans-serif;
//        font-size: $caption-font-size;
//        line-height: 140%;
//        color: $dkgrey !important;
//        Margin-top: 0px;
//        Margin-bottom: 15px;
//        
//        li { font-size: $caption-font-size; }
//    }
//    
//}





/*------------------------------------*\
    # COLOR HELPER CLASSES
/*------------------------------------*/

.bg__pa-blue {
    background:$pa-blue;
}




/*------------------------------------*\
    # FOOTER
/*------------------------------------*/

.footer { 
    color: $dkgrey;
    font-family:$san-serif;
    -webkit-font-smoothing: antialiased;
    
    .vcard {
        font-family:$brand--font;
    }
    .vcard,
    .legal {
        font-size:$small-font-size;
    }
}

.vcard,
//.cm-preferences,
.webversion,
.legal {
    line-height: 140%;
    text-align:center;
}

/* MOBILE STREET ADDRESS */
@media screen and (max-width:479px) {
    .vcard {
        .street-address {
            display:block !important;
            width:100% !important;
        }
        .mobile-hide {
            display: none !important;
        }
    }
}