/* --- lt mso 9 --- */
//.header__branding {
//    word-break: break-word;
//    word-wrap: break-word;
//    padding: 0;
//    Margin-left: 10px;
//    Margin-right: 10px;
//}
//.header__office {
//    word-break: break-word;
//    word-wrap: break-word;
//    padding: 0;
//    Margin-top:6px;
//    Margin-right: 10px;
//    Margin-left: 10px;
//}


.title-purpose {
	background:$white;
	border-top:1px solid $pa-dkblue;
	border-bottom:1px solid $pa-dkblue;
}
	.article-purpose {
		color:$header--text;
	}
	.article-purpose a {
		color: $header--text;
		text-decoration: underline;
	}
.article-content ol, .article-content ul {
   margin: 0 0 0 24px;
   padding: 0;
   list-style-position: inside;
}