/* --- lt mso 9 --- */
.title-purpose {
	background:$white;
	border-top:1px solid $brand--borderbg;
	border-bottom:1px solid $brand--borderbg;
}
	.article-purpose {
		color:$header--text;
	}
	.article-purpose a {
		color: $header--text;
		text-decoration: underline;
	}
.article-content ol, .article-content ul {
   margin: 0 0 0 24px;
   padding: 0;
   list-style-position: inside;
}