$bg: #f5f4f0;
$body-bg: #edece6;
$story-hover: #dcdace;
$story-hover-2: #d4d1c2;


/*------------------------------------*\
    # eNews Layout
\*------------------------------------*/
body {
    background-color:$bg;
}
body, td,
.article-title {
	font-family: $brand--font;
}
#enews__body {
    background-color:$body-bg;
}
//.newsletter__head {
//    
//}
    .send-date {
        color:$white;
        font-size:12px;
    }

    .newsletter__headline {
        font-size: 42px;
        color:$white;
        Margin-top:20px;
        text-align: center;
    }

.image__fullwidth {
    border:1px solid $pa-navy;
}

.article-title a {
    font-weight:normal;
    
    &:hover,
    &:focus {
        text-decoration: underline;
    }
}
#section__trending,
#enews__story {
    &:hover,
    &:focus {
        background-color: $story-hover-2;
    }
}

.section__trending__title {
    background-color:#dfdcca;
    border-bottom: 1px solid #c4c1b3;
}
.title__trending {
//    Margin-top:8px;
}
.enews__footer {
    background-color: $pa-blue__tint-30;
}

#footer {
    background-color:$pa-blue__tint-20;
}


@media only screen and (max-width: 568px) {
    .newsletter__headline {
        font-size: 36px;
    }
}