/* --- PA Style Guide --- */

// Global
$white: #ffffff;
$pa-orange: #f37021;
$pa-ltgreen: #8dc63f;
$pa-green: #00ab4e;
$pa-dkblue: #003c7f;
$pa-blue:#0058a0;
$pa-blue-tint-70: #2d73b3;
$pa-blue-tint-60: #4982bc;
$pa-blue-tint-50: #6092c6;
$pa-blue-tint-10: #dee8f4;
$dkgrey:#333333;

/* --- PA --- */
// Color
$header--text: $pa-dkblue;
$footer--text: $dkgrey;
$link: $pa-blue;
//$brand--logobg: $pa-dkblue;
$title: $pa-dkblue;
$text: $dkgrey;
//$brand--borderbg: #91b7df;

// Color used in inline CSS
//$brand--bg: #b8d0e9;
//$secondarycolor--bg: $brand--bg;
//$secondarycolor--borderbg: $brand--borderbg;

// Section - Color used in inline CSS
//$section--bg: $brand--bg;
//$section--borderbg: $brand--borderbg;

// Font
$serif: Georgia, Times, serif;
$san-serif: "Helvetica Neue", Arial, Helvetica, sans-serif;
$body--font:$san-serif;
$brand--font:$serif;

/* --- PA Style Guide --- */