/*------------------------------------*\
    # Abbot Colors
\*------------------------------------*/

$abbot-blue__darken-20: #1986bc;



/*------------------------------------*\
    # Abbot Color Layout
\*------------------------------------*/

$preview__text: $abbot-blue;
$title: $abbot-blue__darken-20;
$title-purpose: $abbot-blue__darken-20;



/*------------------------------------*\
    # Abbot Layout
\*------------------------------------*/
