/* --- PA Style Guide --- */

// Global
$white: #ffffff;
$dkgrey:#333333;




/*------------------------------------*\
    # PA Primary Colors
\*------------------------------------*/

$pa-blue: #0058a0;
$pa-blue__tint-90: #0064a8;
$pa-blue__tint-80: #2d73b3;
$pa-blue__tint-70: #4982bc;
$pa-blue__tint-60: #6092c6;
$pa-blue__tint-50: #77a2d0;
$pa-blue__tint-40: #8eb3da;
$pa-blue__tint-30: #a7c5e3;
$pa-blue__tint-20: #c2d6ec;
$pa-blue__tint-10: #dee8f4;





/*------------------------------------*\
    # PA Secondary Colors
\*------------------------------------*/

$pa-butter: #ffe180;
$pa-gold: #fdb913;
$pa-orange: #f37021;
$pa-ltgreen: #8dc63f;
$pa-green: #00ab4e;
$pa-navy: #003c7f;
$abbot-blue: #66addc;

/* --- Tints --- */
$pa-butter__tint-60: #ffedb3;




/*------------------------------------*\
    # Strategic Plan Primary Colors
\*------------------------------------*/

$sp-orange:                 rgb(227, 111, 30);
$sp-orange--hex:            #e36f1e;

$sp-yellow:                 rgb(230, 178, 34);
$sp-yellow--hex:            #e6b222;

$sp-gray:                   rgb(124, 139, 161);
$sp-gray--hex:              #7c8ba1;




/*------------------------------------*\
    # COLOR
\*------------------------------------*/

$header--text: $pa-navy;
$footer--text: $dkgrey;
$link: $pa-blue;
$preview__text: $pa-blue;
$title: $pa-navy;
$title-purpose: $pa-navy;
$text: $dkgrey;


/*------------------------------------*\
    # FONT
\*------------------------------------*/

$serif: Georgia, Times, serif;
$san-serif: "Helvetica Neue", Arial, Helvetica, sans-serif;
$body--font:$san-serif;
$brand--font:$serif;

/*------------------------------------*\
    # FONT SIZE
\*------------------------------------*/

$xxlarge-font-size: 36px;
$xlarge-font-size: 32px;
$large-font-size: 24px;
$medium-font-size: 18px;
$base-font-size: 16px;
$small-font-size: 12px;

/* --- PA Style Guide --- */