@import "../../bourbon/bourbon";

/*------------------------------------*\
    # eNews Colors
\*------------------------------------*/

$red:#c12501;




/*------------------------------------*\
    # eNews Layout
\*------------------------------------*/

.preview__text {
    color:$white;
}
.article-title {
    font-size:36px;
    color:$red !important;
    
    a {
        color: $red !important;
        font-weight: normal !important;
        text-decoration: none !important;
        
        &:hover {
            border-bottom: 2px solid $red;
        }
    }
}