@import "../../bourbon/bourbon";

/*------------------------------------*\
    # eNews Colors
\*------------------------------------*/

$bg: tint($pa-butter, 85%);
$body-bg: shade(tint($pa-butter, 80%), 4%);
$story-hover: shade($body-bg, 8%);
$story-border: shade($body-bg, 10%);
$trending-bg: shade($body-bg, 3.5%);

//$bg: #f5f4f0;
//$body-bg: #edece6;
//$story-hover: #dcdace;
//$story-border: #dcdace;
//$trending-bg: #e7e5dc;




/*------------------------------------*\
    # eNews Layout
\*------------------------------------*/
body {
    background-color:$bg;
}
body, td,
.article-title {
	font-family: $brand--font;
}
#enews__body {
    background-color:$body-bg;
}
    .send-date {
        color:$white;
        font-size:12px;
        
        a {
            color:$white;
        }
    }

    .newsletter__headline {
        font-size: 42px;
        color:$white;
        Margin-top:20px;
        text-align: center;
    }

.image__fullwidth {
    border:1px solid $pa-navy;
}

.article-title a {
//    color:$title;
    font-weight:normal;
    text-decoration: none !important;
}
#section__trending {
    background-color:$trending-bg;
    > td {
        border-top: 1px solid $story-border;
        border-bottom: 1px solid $story-border;
    }
}
#enews__story {
    border-bottom: 1px solid $story-border;
}
#section__trending,
#enews__story {
    &:hover,
    &:focus {
        background-color: $story-hover !important;
        
        .section__trending__title {
            background-color: $story-hover !important;
            border-color: $story-hover !important;
        }
    }
}

.section__trending__title {
//    background-color:$story-hover;
//    border-bottom: 1px solid $story-border;
}


.title__trending {
    color:$text !important;
    font-size:24px;
    Margin-top:8px;
}
.enews__footer {
    background-color: $pa-blue__tint-20;
}

#footer {
    background-color:darken($pa-navy, 10%);
}
#street-address,
.footer-content--pref,
.whitelist-message,
.webversion__content--footer {
    color:$white;
}
#footer,
#street-address {
    a {
        color:$pa-blue__tint-20;
    }
}

@media only screen and (max-width: 568px) {
    .newsletter__headline {
        font-size: 36px;
    }
}