/* --- lt mso 9 --- */
.title-purpose {
	background:$white;
	border-top:1px solid $pa-navy;
	border-bottom:1px solid $pa-navy;
}
	.article-purpose {
		color:$header--text;
	}
	.article-purpose a {
		color: $header--text;
		text-decoration: underline;
	}
.img__responsive {
    width:168px;
    height: 93px;
    max-width:168px;
}