/* --- lt mso 9 --- */
.title-purpose {
	background:$white;
	border-top:1px solid $pa-dkblue;
	border-bottom:1px solid $pa-dkblue;
}
	.article-purpose {
		color:$header--text;
	}
	.article-purpose a {
		color: $header--text;
		text-decoration: underline;
	}